extends layout

block content
  
  .container
    .row
      h4 Indeed Form
            - var isRequired = true
       
      form.row.g-3(name="add-estimation", action="/users/indeed" method="POST")
       .col-auto
         label.visually-hidden(for='inputPassword2') Job
         input#inputPassword2.form-control(type='text', name="namesda", placeholder='Job', required=isRequired)
        .col-auto
         label.visually-hidden(for='inputPassword2') Location
         input#inputPassword2.form-control(type='text', name="locationss", placeholder='Location', required=isRequired)
        .col-auto 
          select#cars(name='countryss')
            option(value='') USA
            option(value='kr.') Korea
            option(value='uk.') United Kindom
            option(value='es.') Spain
            option(value='jp.') Japan
            option(value='de.') Germany
            option(value='tr.') Turkey
            option(value='ru.') Russian
            option(value='pt.') Portugal
            option(value='ca.') Canada
            option(value='br.') Brazil
            option(value='fr.') France
            option(value='hk.') Hong Kong
        .col-auto
          button.btn.btn-primary.mb-3(type='submit') Search
  
  .container
    .row
      h4.mt-3  Jooble Form (Just can search in Usa)
            - var isRequired = true
      form.row.g-3(name="add-estimation", action="/users/indeed" method="POST")
       .col-auto
         label.visually-hidden(for='inputPassword2') Job
         input#inputPassword2.form-control(type='text', name="namesda", placeholder='Job', required=isRequired)
        .col-auto
         label.visually-hidden(for='inputPassword2') Location
         input#inputPassword2.form-control(type='text', name="locationss", placeholder='Location', required=isRequired)
        .col-auto
          button.btn.btn-primary.mb-3(type='submit') Search